{% extends "base.html.twig" %}


{% block body %}
    <h1>List posts</h1>
    <a class="btn" href="/post/add">Add post</a>
    
    <div class="post-list">
        {% for post in posts %}
            <div class="post">
                <h3>{{post.title}}</h3>
                <i>{{post.dateUpdate}}</i>
                <p>{{post.description}}</p>
            </div>
        {% endfor %}
    </div>
    
{% endblock %}
